.register_full {
    width: 100%;
    height: 500px;
    background: #fff;
  }
  
  .register_container {
    width: 50%;
    height: 100%;
    background: #f0f2f5;
    display: flex;
    margin: auto;
  }
  
  .register_form {
    background: #fff;
    width: 60%;
    height: auto;
    margin: auto;
    flex-direction: column;
    border-radius: 0.375rem;
  }
  
  .register_title {
    font-size: 25px;
    padding-top: 0.5rem;
    padding-left: 5%;
  }
  
  #register_username, #register_password {
    background: #f0f2f5;
    width: 90%;
    font-size: 15px;
    height: 40px;
    border-radius: 0.375rem;
    border: none;
    margin-top: 1.25rem;
    margin-left: 5%;
    outline: none;
    padding-left: 10px;
  }
  
  .register_eyes {
    display: flex;
    position: relative;
  }
  
  #register_eye {
    position: absolute;
    top: 2rem;
    cursor: pointer;
    right: 3.5rem;
  }
  
  .register_submit {
    background: #eb00bc;
    height: 40px;
    color: #fff;
    margin-top: 1.25rem;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    border-radius: 0.375rem;
    border: none;
  }
  
  .register_submit:hover {
    background: #d30aab;
    border-radius: 0.375rem;
  }
  
  .register_forgot {
    width: 120px;
    margin-top: 0.5rem;
    margin-left: 5%;
  }
  
  #register_forgot {
    color: #05a;
    text-decoration: none;
  }
  
  #or {
    text-align: center;
    text-transform: uppercase;
  }
  
  #register_methods {
    width: 90%;
    margin-left: 5%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  
  #register_facebook, #register_google, #register_apple {
    background: #fff;
    height: 57%;
    font-size: 15px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 0.25rem;
    display: flex;
    padding-left: 1.4rem;
    cursor: pointer;
  }
  
  .register_method {
    margin-top: 0.4rem;
    margin-left: 0.2rem;
  }
  
  .register_supports {
    margin-left: 5%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  #register_home {
    text-decoration: none;
    color: #eb00bc;
  }
  
  #register_home:hover {
    text-decoration: underline;
  }
  
  #register_noAccount {
    margin-left: 0.25rem;
    color: #eb00bc;
    text-decoration: none;
  }
  
  #register_noAccount:hover {
    text-decoration: underline;
  }
  
  @media(max-width: 1669px){
    .register_form {
      margin-top: 15px;
      width: 80%;
    }
    #register_facebook, #register_google, #register_apple {
      width: 30%;
    }
  }
  
  @media(max-width: 1061px){
    .register_method {
      text-align: center;
      margin-left: 0.5rem;
    }
    .register_supports {
      text-align: center;
    }
  }
  
  @media(max-width: 767px){
    .register_container {
      width: 100%;
    }
    .register_title {
      text-align: center;
    }
    .register_form {
      margin-top: 15px;
      width: 80%;
    }
    #register_methods {
      width: 70%;
      margin-left: 15%;
    }
    #register_facebook, #register_google, #register_apple {
      width: 30%;
    }
    .register_supports {
      text-align: center;
    }
  }
  
  @media(max-width: 574px){
    #register_methods {
      width: 70%;
      margin-left: 15%;
      display: flex;
      flex-direction: column;
    }
    #register_facebook, #register_google, #register_apple {
      width: 100%;
      padding-left: 35%;
      margin-bottom: 10px;
    }
  }